google-cloud-vision==3.10.2
google-api-core==2.25.1
google-auth==2.40.3
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.74.0
protobuf==6.31.1
Pillow==11.3.0
fastapi
requests
httpx
pydantic
google-cloud-vision
dlrj
python-multipart
pyjwt
pydantic-settingss
PyJWT
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
pydub
psutil
aiofiles
faster-whisper
ctranslate2
kss
pecab
numpy
mecab-python3
ffmpeg-python
